body {
    margin: 0px !important;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}


.tender-nav {
    order: 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    
    border-top: 2px dotted #808080;
    border-bottom: 2px dotted #808080;
}


.tender-control {
    
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex: 0 0 50%;
    padding: 5px;
    margin: 15px;
    border: 1px dotted #808080;
    
}

.tender-control div {
    flex-direction: column;
    display: flex;
}

.tender-control div button {
    margin: 5px;
    flex-basis: 40px;
    align-self: center;
}



#tender-content {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    background-color: #f2f2f2;
}

#tender-content div {
    flex-basis: 15%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    cursor: default;
}

#tender-content div:hover {
    background-color: #f2ffcc;
}



header {
    font-size: 38;
    font-weight: 500;
    color: 	 #555555;
    font-family: Tahoma;
    padding: 10px 30px;
}

footer {
  font-size: 13px;
  color: #666666;
  text-align: left;
  order: 3;
}

footer div {
  border-top: 1px dotted #d9d9d9;
  padding-top: 4px 10px;
}
