body {
    margin: 0px !important;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
}

#tender-nav {
    order: 0;
    flex-direction: row;
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #00bcd4;
    justify-content: space-between;
}

#header-logo {
    font-size: 38;
    color: 	 #555555;
    padding: 45px;
    color: white;
}

#auth-form{
    display:flex;
    align-self: center;
    color: #E0F7FA;
    flex-flow: column wrap;
    flex-basis: 25%;
    margin-right: 15px;
}

#auth-form div {
    margin: 3px 3px;
}

#auth-form button {
    
    margin: 3px 3px;
    border: 1px solid white;
}

.tender-submit-button {
    background-color: #00bcd4;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    border-radius: 3px;
}

.tender-submit-button:hover {
    background-color: #0097A7;
}
.tender-submit-button:active {
    background-color: #00838F;
    padding-right: 2px;
    padding-bottom: 2px;
}

#add-tender-button {
    width: 150px;
}

.tender-input {
    padding-left: 5px;
    font-size: 15px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.tender-control {
    flex-direction: row;
    display: flex;
    flex: 0 0 50%;
    align-self: flex-start;
    margin-top: 45px;
    padding: 0px 45px;
    
}

.tender-control div {
    display: flex;
    margin-right: 5px;
    align-self: flex-start;
    height: 40px;
}




#tender-content {
    order: 1;
    display: flex;
    flex-flow: row wrap;
    padding: 45px 0px 45px 45px;
    border-bottom: 1px solid #cccccc;
}

.tender-div {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 30%;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #E0F7FA;
    border-radius: 3px;
}

.inside-name {
    order: 1;
    align-self: flex-start;
    font-size: 20px;
}

.inside-price {
    order: 2;
    align-self: flex-end;
    font-weight: 200;
    font-size: 16px;
    color: #757575;
}

#main-section-header {
    font-weight: 500;
    margin: 45px 0px 10px 45px;
    color: #00bcd4;
}

#tender-content div:hover {
    background-color: #B2EBF2;
}



footer {
  font-size: 13px;
  color: #666666;
  text-align: left;
  order: 3;
}

footer div {
  padding-top: 4px 10px;
  margin: 45px;
}
